[user]
	name = TangoCh4rlie
	email = elouanreymond@tutanota.com
[core]
	autocrlf = input
	excludesfile = /Users/elouanreymond/.gitignore
	fsmonitor = true
	untrackedCache = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	pruneTags = true
	all = true
	prune = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[pull]
	rebase = true
